:root {
  --bg-main-color: #00000080;
  --bg-accent-color: #2d2d2d;
  --accent-color: #f64435;
  --text-accent-color: #ffe498;
  --text-edit-bg-color: #575757;
  --border-color: #3f3f3f;
  --shadow-color: #202020;
  --document-bg-color: #68686850;
  --component-bg-gradient: radial-gradient(circle, #646464e6 0%, #363636e6 100%);
  --smokywhite: #dddbd8;
  --black: #000000;
  --translucent-black: #00000099;
}

html, body{
  width:100%;
  height: 100%;
}
/* 원인 : %는 상대적인 값인데 DIV의 Height값에 %를 적용하면 기준으로 삼을 상위 태그의 Height값이 없기 때문에 적용이 되지 않음
해결 : 최상위 태그인 에 기준으로 삼을 height 값을 설정함으로써 해결할 수 있음 */

body{
  background-image: url('./cool-background.png');
  background-repeat: repeat;
  background-size: 100%;
  margin: 0px;
  display: flex;
}

.container{
  height: 100vh;
  display: flex;
  flex-direction: column;
  width: 800px;
  margin:auto;
  background-color: var(--document-bg-color);
}

.header{
  background-color: var(--translucent-black);
  align-items:flex-start;
  height: 25%;
  width: 100%;
  text-align: center;

}
.title{
  color: var(--accent-color);
  font-size: 2em;
}

.list{
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0px;
}

.menu {
  color: var(--smokywhite);
  background-color: var(--accent-color);
  margin: 3px;
  padding: 15px;
  font-size: 0.9em;
}

.content{
  height: 520px;
}

.modal{
  top:300px;
  left: 620px;
  position: absolute;
  width: 400px;
  height:230px;
  background-color: var(--translucent-black);
  text-align: center;
  color: var(--smokywhite);
  display: none;
}

.modal_close {
  position:absolute;
  right: 10px;
  margin: 10px 0px;
  border: 0px;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 1.2em;

}

.modal_close:hover {
 cursor: pointer;
}

.modal_title, .modal_article {
  font-size:1em;
  text-align: left;
  margin-left: 20px;
}

.titleValue, .article {
  height: 25px;
  font-size: 1.3em;
}

.titleValuetfocus, .article:focus {
  outline: none;
}

.modal_button{
  position:absolute;
  right: 25px;
  margin-top: 30px;
  background-color: var(--accent-color);
  border: 0px;
  padding: 5px;
  cursor: pointer;
}

.card{
  background-color:var(--border-color);
  width: 500px;
  height: 200px;
  margin:10px auto;
  display: flex;
  border: solid white 1px;
}

.card-img {
  width: 200px;
  height: 150px;
  margin: 22px;
}

.divide {
  width:1px;
  height:80%;
  background-color:white;
  align-self: center;
  margin-left: 30px;
}

.text{
  margin: 0px 50px;
  align-self: center;
  color:white;
  font-size: 1.5em;
}

.close {
  margin: 10px 0px;
  border: 0px;
  background-color: transparent;
  color: var(--accent-color);
  font-size: 1.2em;
}

.close:hover {
 cursor: pointer;
}


.card-note{
  background-color : transparent;
  width : 200px;
  color : white;
  font-size : 1.5em;
  padding:30px;
}

.card-video {
  width : 250px;
  height : 200px;
}

.card-lists {
  width : 200px;
  padding:20px;
}

.card-list {
  color : white;
  font-size : 1.5em;
  padding:10px;
  margin: 30px;
}

@media screen and (max-width:768px) {
  .modal{
    left: 120px;
  }
}